<h1 class="text-center">Hot Spot</h1>

<br><br>

<p class="text-center">
  Play this game and find your car!
</p>

<br><br>

<div class="col-xs-6 no-float center-block">
  <%= link_to 'Register', new_user_path,
    class: 'btn btn-default form-control' %>

  <br><br>

  <%= link_to 'Login', new_session_path,
    class: 'btn btn-primary form-control' %>
</div>
